body {
  margin: 20px;
  font-family: 'Courier New', Courier, monospace;
}

@keyframes myAnimation {
    from {background-color: rgb(255, 255, 255);}
    to {background-color:rgb(209, 209, 209)}
}

.lev-pic {
  width: 250px;
}

.card {
  background: rgb(229, 229, 229);
  display: flex;
  padding: 20px;
  justify-content: space-around;
  width: 550px;
  height: 250px;
  margin: 40px auto;
  border-bottom: 10px solid black;
  border-left: 10px solid black;
  border-right: 10px solid rgb(0, 9, 188);
  border-top: 10px solid rgb(0, 9, 188);
  animation-name: myAnimation;
  animation-duration: 1s;
  animation-iteration-count: 9999;
  animation-direction: alternate;
}

.caption {
  padding: 20px;
  font-size: 18px;
  text-align: center;
  width: 300px;
}

p {
  margin-top: 20px;
  font-size: 14px;
}

p:hover {
  background-color: rgb(117, 165, 255);
}