body {
  font-family: 'Courier New', Courier, monospace;
  margin: 20px auto 40px auto;
  text-align: center;
  background: linear-gradient(rgb(134, 22, 22), black);
  color: white;
}

.container {
  display: flex;
  height: 280px;
  padding: 20px;
  margin: 30px;
}

.caption {
  margin: 30px;
  text-align: left;
}

h1 {
  background: rgb(0, 0, 0);
  padding: 15px;
}

.img {
  width: auto;
  height: 250px;
}

.footer {
  margin-top: 120px;
  text-align: center;
}

.photo {
  width: 400px;
  height: 200px;
  object-fit: cover;
  object-position: 50%;
}

.google-logo {
  width: 400px;
  height: 200px;
  object-fit: scale-down;
}

a {
  color: white;
}

a:visited {
  color: red
}